
html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family:  'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-body);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-body: #00040F;
  --color-white: #fff;
  --color-primary: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );

}

.grid{
  display: grid;
}

.no-scroll {
  overflow: hidden;
}

.overlay {
  background: rgba(0, 0, 0, 0.8);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}

.btn {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
  padding: 10px;
  width: 120px;
  border-radius: 10px;
  font-size: 14px;
  margin-top: 1rem;
}

.wrapper.no-scroll {
  overflow: hidden;
  height: 100vh;
}

@media screen and (min-width: 1024px) {
  .btn {
    width: 140px;
    padding: 1rem;
  }
}
